#Ignorar arquivos sensiveis e temporarios dentro do docker/app e a pasta Segredos

/Segredos
/docker/app/dist
/docker/app/*.logs
/docker/app/.env
/docker/app/.env*

#Pycache, logs e arquivos temporarios em geral

**/__pycache__/
**/*.pyc
.DS_Store
*.tgz
